# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Local configuration
.vscode/
.idea/

# Backend specific
backend/database/*.db
backend/database/*.sqlite
Design/
Rapport_Technique_EcoImpact_AI_v2.pdf
